
version: '3'

services:

  # ============================================================================
  # NGINX SERVER CONTAINER
  # ============================================================================
  nginx_demo:
    image: nginx:1.13.7-alpine
    container_name: nginx
    restart: always
    build:
      context: .
      dockerfile: ./Nginx/Dockerfile
    volumes:
      - ./Client/dist:/usr/share/nginx/html
      - ./Nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - flask_api
    links:
      - flask_api

  # ============================================================================
  # FLASK API CONTAINER
  # ============================================================================
  flask_api:
    container_name: flask_api
    restart: always
    build:
      context: .
      dockerfile: ./Server/Dockerfile
    volumes:
      - ./Server:/app
    depends_on:
      - elasticsearch
    links:
      - elasticsearch
    environment:
        - MODE=dev
        # - ELASTICSEARCH_HOST=127.0.0.1
        - ELASTICSEARCH_HOST=elasticsearch
        - ELASTICSEARCH_PORT=9200


  # ==============================================================================
  # ELASTICSEARCH CONTAINER
  # ==============================================================================
  elasticsearch:
    # image: elasticsearch:6.0.1
    container_name: elasticsearch
    build: Elasticsearch/
    volumes:
      - ./Elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - ../esdata:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300" # ? i dont know if this needed
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"

      